[user]
	email = morvan.josselin@gmail.com
	name = sardinecan
[core]
	excludesfile = "{{ .chezmoi.homeDir }}/.gitignore"
  editor = nvim
[init]
  defaultbranch = main
[push]
  # default = current
  autoSetupRemote = true
[pull]
  ff = only
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
[branch]
	sort = --commiterdate
[merge]
  conflictstyle = zdiff3
[diff]
  algorithm = histogram
  tool = nvimdiff
[log]
  date = iso
