// Zed keymap
//
// For information on binding keys, see the Zed
// documentation: https://zed.dev/docs/key-bindings
//
// To see the default key bindings run `zed: open default keymap`
// from the command palette.
{{ if eq .chezmoi.os "darwin" }}
[
    {
        "bindings": {
            "cmd-k t": "workspace::NewTerminal"
        }
    },
    {
        "context": "Workspace",
        "bindings": {
            "cmd-T": "terminal_panel::ToggleFocus"
        }
    },
    {
        "context": "Editor",
        "bindings": {
            "cmd-k u": "editor::ConvertToUpperCase",
            "cmd-k l": "editor::ConvertToLowerCase",
            "cmd-k c": "editor::ConvertToLowerCamelCase",
            "cmd-k s": "editor::ConvertToSnakeCase"
        }
    },
    {
        "context": "Editor && mode == full",
        "bindings": {
            "shift-enter": [
                "workspace::SendKeystrokes",
                "cmd-c cmd-T cmd-v enter cmd-T end down"
            ]
        }
    },
    {
        "context": "Editor && selection == none",
        "bindings": {
            "cmd-k =": "editor::Format"
        }
    },
    {
        "context": "Editor && selection != none",
        "bindings": {
            "cmd-k =": "editor::FormatSelections"
        }
    }
]
{{ else }}
[
    {
        "bindings": {
            "ctrl-k t": "workspace::NewTerminal"
        }
    },
    {
        "context": "Workspace",
        "bindings": {
            "ctrl-T" : "terminal_panel::ToggleFocus"
        }
    },
    {
        "context": "Editor",
        "bindings": {
            "ctrl-k u": "editor::ConvertToUpperCase",
            "ctrl-k l": "editor::ConvertToLowerCase",
            "ctrl-k c": "editor::ConvertToLowerCamelCase",
            "ctrl-k s": "editor::ConvertToSnakeCase"
        }
    },
    {
        "context": "Workspace",
        "bindings": {
            "shift-enter": [
                "workspace::SendKeystrokes",
                "ctrl-c ctrl-` ctrl-shift-v enter ctrl-` end down"
            ]
        }
    },
    {
        "context": "Editor && selection == none",
        "bindings": {
            "ctrl-k =": "editor::Format"
        }
    },
    {
        "context": "Editor && selection != none",
        "bindings": {
            "ctrl-k =": "editor::FormatSelections"
        }
    }
]
{{ end }}
