-- core/appearence.lua
vim.opt.background = "dark"
vim.g.onedark_termcolors=16

{{ if eq .chezmoi.hostname "IRIHS-24-8ADA" }}
vim.cmd.colorscheme "tokyonight"
local current_theme = 2
{{ else }}
vim.cmd.colorscheme "onedark"
local current_theme = 1
{{ end }}

local themes = { "onedark", "tokyonight", "catppuccin"}

function SwitchTheme()
  current_theme = (current_theme % #themes) + 1
  vim.cmd("colorscheme " .. themes[current_theme])
  vim.defer_fn(function()
    print("Switched to theme: " .. themes[current_theme])
  end, 100) -- 100ms de délai
end

vim.api.nvim_set_keymap("n", "<leader>t", ":lua SwitchTheme()<CR>", { noremap = true, silent = true })
