-- core/appearence.lua
vim.opt.background = "dark"
vim.g.onedark_termcolors=16

{{ if eq .chezmoi.hostname "IRIHS-24-8ADA" }}
vim.cmd.colorscheme "tokyonight"
{{ else }}
vim.cmd.colorscheme "onedark"
{{ end }}

local themes = { "tokyonight", "onedark" }
local current_theme = 1

function SwitchTheme()
  current_theme = (current_theme % #themes) + 1
  vim.cmd("colorscheme " .. themes[current_theme])
  print("Switched to theme: " .. themes[current_theme])
end

vim.api.nvim_set_keymap("n", "<leader>t", ":lua SwitchTheme()<CR>", { noremap = true, silent = true })
