local wezterm = require("wezterm")

local config = wezterm.config_builder()

local themes = { "Tokyo Night", "OneDark (base16)", "Catppuccin Macchiato", "Catppuccin Latte" }

wezterm.GLOBAL.current_theme = wezterm.GLOBAL.current_theme or 1

wezterm.on("toggle-theme", function(window, pane)
  wezterm.GLOBAL.current_theme = wezterm.GLOBAL.current_theme % #themes + 1
  local new_theme = themes[wezterm.GLOBAL.current_theme]

  window:set_config_overrides({ color_scheme = new_theme })
  window:toast_notification('wezterm', 'Theme changed to: ' .. new_theme, nil, 2000)
  wezterm.log_info('Theme changed to: ' .. new_theme)
end)

config.automatically_reload_config = true
config.window_decorations = "RESIZE"
config.hide_tab_bar_if_only_one_tab = true

{{ if eq .chezmoi.hostname "arch-mbp13-12" "IRIHS-24-8ADA" }}
config.initial_cols = 80
config.initial_rows = 24
{{ else }}
config.initial_cols = 132
config.initial_rows = 43
{{ end }}

config.window_background_opacity = 0.95
config.color_scheme = themes[wezterm.GLOBAL.current_theme]
config.font = wezterm.font_with_fallback({
  { family = "MonoLisa", weight = "Medium", stretch = "Normal", style = "Normal", harfbuzz_features = { "ss02=1" } },
  { family = "BlexMono Nerd Font Mono", weight = "Regular", stretch = "Normal", style = "Normal" },
  "JetBrains Mono",
  "Noto Color Emoji",
  "Symbols Nerd Font Mono",
})


{{ if eq .chezmoi.os "linux" }}
local act = wezterm.action

-- Change mouse scroll amount
config.mouse_bindings = {
  {
    event = { Down = { streak = 1, button = { WheelUp = 1 } } },
    mods = 'NONE',
    action = act.ScrollByLine(-1),
  },
  {
    event = { Down = { streak = 1, button = { WheelDown = 1 } } },
    mods = 'NONE',
    action = act.ScrollByLine(1),
  },
}
{{ end }}

{{ if eq .chezmoi.hostname "arch-mbp13-12" }}
config.font_size = 13
{{ else }}
config.font_size = 16
{{ end }}

config.leader = { key = 'k', mods = 'CTRL', timeout_milliseconds = 2000 }
config.keys = {
  { mods = "LEADER", key = "w", action = wezterm.action.CloseCurrentPane { confirm = true } },
  { mods = "LEADER", key = "b", action = wezterm.action.ActivateTabRelative(-1) },
  { mods = "LEADER", key = "n", action = wezterm.action.ActivateTabRelative(1) },
  { mods = "LEADER", key = "|", action = wezterm.action.SplitHorizontal { domain = "CurrentPaneDomain" } },
  { mods = "LEADER", key = "-", action = wezterm.action.SplitVertical { domain = "CurrentPaneDomain" } },
  { mods = "LEADER", key = "h", action = wezterm.action.ActivatePaneDirection "Left" },
  { mods = "LEADER", key = "j", action = wezterm.action.ActivatePaneDirection "Down" },
  { mods = "LEADER", key = "k", action = wezterm.action.ActivatePaneDirection "Up" },
  { mods = "LEADER", key = "l", action = wezterm.action.ActivatePaneDirection "Right" },
  { mods = "LEADER", key = "LeftArrow", action = wezterm.action.AdjustPaneSize { "Left", 10 } },
  { mods = "LEADER", key = "RightArrow", action = wezterm.action.AdjustPaneSize { "Right", 10 } },
  { mods = "LEADER", key = "DownArrow", action = wezterm.action.AdjustPaneSize { "Down", 10 } },
  { mods = "LEADER", key = "UpArrow", action = wezterm.action.AdjustPaneSize { "Up", 10 } },
  { mods = "LEADER", key = "p", action = wezterm.action.PaneSelect({ show_pane_ids = true }) },
  { mods = "LEADER", key = "t", action = wezterm.action.EmitEvent("toggle-theme") },
  { mods = 'LEADER', key = "L", action = wezterm.action.ShowDebugOverlay },
}

return config
