[Unit]
Description=BaseX

[Service]
Type=simple
WorkingDirectory=/home/jmorvan/programs/basex9/
ExecStart=/home/jmorvan/programs/basex9/bin/basexhttp
Restart=on-failure
User=jmorvan
Group=jmorvan

[Install]
WantedBy=multi-user.target
