<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.josselinmorvan.basex9</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/josselinmorvan/files/basex9/bin/basexhttp</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/josselinmorvan/files/basex9/</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
        </dict>
        <key>StandardOutPath</key>
        <string>/tmp/basex9.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/basex9.err</string>
    </dict>
</plist>
